<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:action="@{/admin/edit}" th:object="${user}" method="POST">
    <input type="hidden" name="_method" value="patch" />

    <input name="id" th:field="*{id}" th:value="${user.id}" hidden="hidden">

    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" th:value="${user.name}" required>
    </br>

    <label for="lastName">lastName</label>
    <input type="text" id="lastName" th:field="*{lastName}" th:value="${user.lastName}" required>
    </br>
    <label for="username">lastName</label>
    <input type="text" id="username" th:field="*{username}" th:value="${user.username}" required>
    </br>
    <label for="password">password</label>
    <input type="password" id="password" th:field="*{password}" th:value="${user.password}" required>
    </br>

    <select class="form-control" id="dropDownList" name="roles">
        <option value="0">select role</option>
        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
    </select>


    <button type="submit">update user</button>
</form>
</body>